input[type='text'] {
    border-radius: 5px;
    border: 1px solid gainsboro;
    padding: 8px 30px;
    margin-right: 20px;
    min-width: 250px;
}

input[type='text']:focus {
    outline: none;
    border: 1px solid lightskyblue;
}

form {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-btn {
    border-radius: 5px;
    border: 1px solid lightskyblue;
    color: lightskyblue;
    background-color: white;
    padding: 5px 17px;
    font-weight: bold;
    font-size: 20px;
    outline: none;
}

.add-btn:hover {
    cursor: pointer;
}